<?xml version="1.0"?>
<yandex>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <include_from>/etc/clickhouse-server/macro.xml</include_from>

    <http_port>8123</http_port>

    <openSSL>
        <server>
           <certificateFile>/etc/clickhouse-server/server.crt</certificateFile>
            <privateKeyFile>/etc/clickhouse-server/server.key</privateKeyFile>
            <dhParamsFile>/etc/clickhouse-server/dhparam.pem</dhParamsFile>
            <verificationMode>none</verificationMode>
            <loadDefaultCAFile>true</loadDefaultCAFile>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
        </server>
        <client>
            <loadDefaultCAFile>true</loadDefaultCAFile>
            <cacheSessions>true</cacheSessions>
            <disableProtocols>sslv2,sslv3</disableProtocols>
            <preferServerCiphers>true</preferServerCiphers>
            <invalidCertificateHandler>
                <name>RejectCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>

    <tcp_port>9000</tcp_port>
    <interserver_http_port>9009</interserver_http_port>
    <interserver_http_host>NODENAME.NAMESPACE</interserver_http_host>
    <listen_host>0.0.0.0</listen_host>
    <max_connections>4096</max_connections>
    <keep_alive_timeout>3</keep_alive_timeout>

    <max_concurrent_queries>100</max_concurrent_queries>

    <mark_cache_size>5368709120</mark_cache_size>

    <path>/var/lib/clickhouse/</path>

    <tmp_path>/var/lib/clickhouse/tmp/</tmp_path>

    <users_config>users.xml</users_config>

    <default_profile>default</default_profile>

    <default_database>default</default_database>
    <timezone>Europe/Moscow</timezone>

    <remote_servers>
      <CLUSTER_NAME>
         <shard>
             <replica>
                 <host>clickhouse-0.NAMESPACE</host>
                 <port>9000</port>
             </replica>
             <replica>
                 <host>clickhouse-1.NAMESPACE</host>
                 <port>9000</port>
             </replica>
         </shard>
         <shard>
             <replica>
                 <host>clickhouse-2.NAMESPACE</host>
                 <port>9000</port>
             </replica>
             <replica>
                 <host>clickhouse-3.NAMESPACE</host>
                 <port>9000</port>
             </replica>
         </shard>
      </CLUSTER_NAME>
    </remote_servers>

    <zookeeper>
        <node>
            <host>zk-0.zk-headless.NAMESPACE.svc</host>
            <port>2181</port>
        </node>
        <node>
            <host>zk-1.zk-headless.NAMESPACE.svc</host>
            <port>2181</port>
        </node>
        <node>
            <host>zk-2.zk-headless.NAMESPACE.svc</host>
            <port>2181</port>
        </node>
    </zookeeper>

    <macros incl="macros" />

    <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>

    <max_session_timeout>3600</max_session_timeout>

    <default_session_timeout>60</default_session_timeout>

        <query_log>
            <database>system</database>
        <table>query_log</table>
        <flush_interval_milliseconds>7500</flush_interval_milliseconds>
    </query_log>

    <dictionaries_config>*_dictionary.xml</dictionaries_config>

    <!-- Uncomment if you want data to be compressed 30-100% better.
         Don't do that if you just started using ClickHouse.
    <compression incl="clickhouse_compression">
     </compression>
     -->
    <resharding>
        <task_queue_path>/clickhouse/task_queue</task_queue_path>
    </resharding>

    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
</yandex>
